{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
  
https://stackoverflow.com/questions/6476351/how-to-use-the-computer-modern-font-in-webpages
{% endcomment %}

<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

<style type="text/css">
  @font-face {
    font-family: "lmodern roman";
    src: url('/assets/fonts/lmroman10-regular.otf');
  }
  @font-face {
    font-family: "lmodern mono";
    src: url('/assets/fonts/lmmono10-regular.otf');
  }
  @font-face {
    font-family: "lmodern sans";
    src: url('/assets/fonts/otf/lmsans10-regular.otf');
  }
  @font-face {
    font-family: "lmodern caps";
    src: url('/assets/fonts/otf/lmromancaps10-regular.otf');
  }
  @font-face {
    font-family: "Latin Modern";
    src: url('/assets/fonts/otf/lmroman10-italic.otf');
    font-style: italic, oblique;
    font-weight: bold;
  }
</style>
