/*************
 * Footnotes *
 *************/
.footnotes p {
  font-size: $small-font-size;
  margin-top: 1rem;
}
.footnotes {
  font-size: $small-font-size;
  border-top: 1px solid hsl(0, 0%, 75%);
}
a.footnote {
  font-size: 14px;
}

/*********
 * Links *
 *********/
a {
  color: $link-base-color;
  text-decoration: none;

  &:visited {
    color: $link-visited-color;
  }

  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

/*********
 * Lists *
 *********/
// ul, ol {
//   margin-left: 0em;
// }

/***************
 * Blockquotes *
 ***************/
// blockquote {
//   margin-left: -1em;
//   margin-right: -1em;
//   padding-left: 1em;
//   padding-right: 1em;
//   border-left: -4px solid $border-color-01;
//   border-right: -4px solid $border-color-01;
// }

