body.sspro {
  font-family: 'SourceSerif Pro';
}
body.plexs {
  font-family: 'Plex Serif';
}
body.chart {
  font-family: 'Charter';
}
/*
.post-content {
	text-align: justify;
}
*/

/*************
 * Footnotes *
 *************/
.footnotes p {
//  text-align: left;
//  line-height: 1.3;
  font-size: $small-font-size;
  margin-top: 1rem;
}
.footnotes {
  font-size: $small-font-size;
  border-top: 1px solid hsl(0, 0%, 75%);
}
a.footnote {
  font-size: 14px;
  //font-size: $small-font-size;
}
/*
a.footnote:before {
	content: "[";
}
a.footnote:after {
	content: "]";
}
*/

/*********
 * Links *
 *********/
a {
  color: $link-base-color;
  text-decoration: none;

  &:visited {
    color: $link-visited-color;
  }

  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}
/*****************
 * Running stats *
 *****************/
span.run_display {
  font-size: 40px;
  font-weight: bold;
}

span.run_number {
  font-size: 32px;
  font-weight: bold;
}

span.run_unit {
  font-size: 24px;
  font-weight: bold;
}

table.run_display {
//  border-collapse: collapse;
  width: auto;
  border: none;
}

td.run_display, th.run_display {
  border: none;
  text-align: center;
}

table.run {
//  border-collapse: collapse;
  width: auto;
  border: none;
}

td.run, th.run {
  border: none;
  text-align: center;
  vertical-align: top;
}
